/* $id */

.node_translation_content {
  padding: 5px 5px 3px 5px;
  border: 1px solid orange;
  background-color: #fff; }
  .node_translation_content .node_translation_data {
    text-align: center; }
    /* the node title that is translated */
    .node_translation_content .node_translation_data .node_translation_title {
      padding: 5px 5px 3px 5px;
      font-weight: bold; }
    /* the node body that is translated */
    .node_translation_content .node_translation_data .node_translation_body {
      padding: 5px 5px 3px 5px; }
    .node_translation_content .node_translation_data .node_translation_available {
      padding: 5px 5px 3px 5px; }
      .node_translation_content .node_translation_data .node_translation_available a {
        text-decoration: none; }
    .node_translation_content .node_translation_data .node_translation_language {
      padding: 5px 5px 3px 5px; }
    .node_translation_content .node_translation_data .node_translation_language_translate {
      font-weight: bold;
      padding: 5px 5px 3px 5px; }
    .node_translation_content .node_translation_links {
      padding: 5px 5px 3px 5px;
      text-align: center; }
      .node_translation_content .node_translation_links span {
        padding: 5px; }
        .node_translation_content .node_translation_links span a {
          text-decoration: none; }

.node_translation_translated_title,
.node_translation_translated_body {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding: 5px;
}

table.node_translation_table {
  border: 1px solid black;
  width: 600px; }
table.node_translation_table tr th {
  font-weight: bold; }
table.node_translation_table tr td {
  width: 300px; }

